*{
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    background: #1C1B21;
    font-family: 'Poppins', sans-serif;
	height: 100%;
	width: 100%;
    line-height: calc(27 / 18 * 100%);
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    color: white;
    font-weight: 400;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
* {
    -webkit-tap-highlight-color: transparent;
  }
/*--------------------*/
body._lock{
    overflow: hidden;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
._container{
    max-width: 1110px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*-----------------HEADER----------------*/
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__body{
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header__body > *:not(:first-child){
    margin-left: 65px;
}
.navbar {
}
.navbar__ul {
    display: flex;
    flex-wrap: wrap;
}
.navbar__ul > *:not(:first-child){
    margin-left: 65px;
}
.navbar__li {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(27 / 18 * 100%);
    transition: all 0.3s ease 0s;
}
@media (min-width: 993px){
    .navbar__li:hover{
        color: #7A66CC;
    }
}
.header__burger{
    display: none;
    outline: none;
}
@media (max-width: 992px){
    .header__body > *:not(:first-child){
        margin-left: 0;
    }
    .navbar__ul > *:not(:first-child){
        margin-left: 0;
    }
    .header__body {
        padding: 10px 15px;
        justify-content: space-between;
    }
    .header__burger{
        flex: 0 0 30px;
        display: flex;
        position: relative;
        height: 20px;
        z-index: 6;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        justify-content: space-between;
    }
    .header__burger span,
    .header__burger::before,
    .header__burger::after{
        background-color: white;
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
    }
    .header__burger::before{
        height: 12%;
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header__burger._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .header__burger._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header__burger._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .header__burger._active span,
    .header__burger._active::before,
    .header__burger._active::after{
        background-color: white;
    }
    .navbar__li {
        font-weight: 600;
        font-size: 22px;
        line-height: calc(27 / 22 * 100%);
        color: white;
        outline: none;
    }
    .navbar__li:active{
        color: rgb(199, 199, 199);
        text-decoration: underline;
    }
    .navbar__ul{
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
    }
    .navbar{
        padding: 100px 0 0 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #7A66CC;
        opacity: 0.99;
        transform: translate(0,-100%);
    }
    .navbar._active{
        transform: translate(0,0);
    }
    .navbar__li{
        margin: 0 0 20px 0;
        max-width: 100%;
    }
}
/*-----------------MAIN----------------*/

main{
    flex: 1 1 auto;
}
.page {
    position: relative;
    padding: 350px 0 279px 0;
}

.page__body {
}
.page__body_column {
    z-index: 2;
    position: relative;
}
h1{
    font-weight: 700;
    font-size: 48px;
    line-height: calc(72 / 48 * 100%);
    margin-bottom: 10px;
}
.page__body_column_text p{
    font-weight: 700;
    font-size: 100px;
    line-height: calc(150 / 100 * 100%);
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #FFFFFF;
}
.page__body_column_audio {
    margin-top: 50px;
}
.page__body_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1200px){
    .page {
        padding: 300px 0 279px 0;
    }
}
@media (max-width: 992px){
    .page {
        padding: 250px 0 279px 0;
    }
}
@media (max-width: 767px){
    .page {
        padding: 200px 0 279px 0;
    }
    h1{
        font-weight: 600;
        font-size: 40px;
        line-height: calc(52 / 40 * 100%);
    }
    .page__body_column_text p{
        font-weight: 600;
        font-size: 69px;
        line-height: calc(106.5 / 69 * 100%);
    }
}
@media (max-width: 480px){
    .page {
        padding: 150px 0 279px 0;
    }
    h1{
        font-weight: 600;
        font-size: 30px;
        line-height: calc(40 / 30 * 100%);
    }
    .page__body_column_text p{
        font-weight: 600;
        font-size: 50px;
        line-height: calc(75 / 50 * 100%);
    }
}
/*-----------------CART----------------*/

.cart {
    position: relative;
    z-index: 10;
    margin-top: -149px;
}
.cart__body {
    display: flex;
    margin: 0 -15px -30px -15px;
    flex-wrap: wrap;
}
.cart__body_column {
    padding: 0 15px;
    flex: 0 1 33.333%;
    margin-bottom: 30px;
}
.cart__body_block {
    transition: all 0.3s ease 0s;
    padding: 0;
    position: relative;
    height: 100%;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
}
.cart__body_column:nth-child(2) .cart__body_block{
    transition: all 0.6s ease 0s;

}
.cart__body_column:nth-child(3) .cart__body_block{
    transition: all 0.9s ease 0s;

}
.cart__body_block._look{
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

.cart__body_block img{
    width: 100%;
    height: 100%;
}
.cart__body_text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 21px 20px;
    background: #7A66CC;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    opacity: 0.7;
    border-radius: 20px 0px;
    min-height: 90px;
}
@media (max-width: 1140px){
    .cart__body_column{
        flex: 0 1 50%;
    }
    .cart__body_text {
        border-radius: 30px 0px;
    }
}
@media (max-width: 992px){
    .cart__body_column{
        flex: 0 1 50%;
    }
    .cart__body_text {
        border-radius: 25px 0px;
    }
}
@media (max-width: 767px){
    .cart__body_column{
        flex: 0 1 100%;
    }
    .cart__body_text {
        border-radius: 40px 0px;
    }
}
@media (max-width: 600px){
    .cart__body_text {
        border-radius: 30px 0px;
    }
}
@media (max-width: 480px){
    .cart__body_text {
        border-radius: 25px 0px;
    }
}
@media (max-width: 400px){
    .cart__body_text {
        padding: 11px 10px;
        border-radius: 20px 0px;
    }
}
@media (max-width: 330px){
    .cart__body_text {
        border-radius: 15px 0px;
    }
}
/*-----------------bright----------------*/
.bright {
    margin: 149px 0 75px 0;
    padding: 30px 0;
}
.bright__body {
    display: flex;
    flex-wrap: wrap;
}
.bright__body_text {
    flex: 0 1 50%;
}
.bright__body_text > *:not(:last-child){
    margin-bottom: 60px;
}
.bright__block_logo {
    display: flex;
    align-items: center;
}
.bright__block_logo > *:not(:first-child){
    margin-left: 30px;
}
.bright__block_logo_img {
}
.bright__block_text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    opacity: 0.7;
}
.bright__label {
    display: flex;
    flex-wrap: wrap;
}
.bright__label_block {
    align-items: center;
    flex: 0 1 50%;
    display: flex;
    margin-bottom: 30px;
}
.bright__label_block > *:not(:first-child){
    margin-left: 20px;
}

.bright__label_img {
    position: relative;
    width: 30px;
    height: 30px;
}
.bright__label_img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7A66CC;
    border-radius: 10px 0px;
    animation-name: anim_label;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes anim_label{
    0%{
        border-radius: 10px 0px;
    }
    50%{
        border-radius: 0px 10px;
    }
    100%{
        border-radius: 10px 0px;
    }
}
@media (max-width: 992px){
    .bright__body_text {
        flex: 0 1 100%;
    }
    .bright__body_img,
    .bright__body_img img{
        width: 100%;
    }
    .bright__body_text > *:not(:last-child){
        margin-bottom: 50px;
    }
    .bright {
        margin-top: 89px;
        margin-bottom: 0;
    }
    .bright__body_img{
        margin-top: 50px;
    }
}
@media (max-width: 550px){
    .bright__label_block {
        flex: 0 1 100%;
    }
    .bright {
        margin-top: 30px;
    }
    .bright__body_text > *:not(:last-child){
        margin-bottom: 30px;
    }
    .bright__body_img{
        margin-top: 30px;
    }
}
/*-----------------fool__img----------------*/
.fool__img {
    padding: 85px 15px;
    position: relative;
}
.fool__img_body {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #FFFFFF;
    border-radius: 30px 0;
}
.fool__img_column{
    flex: 0 1 50%;
    padding: 50px 0 50px 80px;
}
.fool__img_block {
    position: relative;
}
.fool__img_block > *:not(:last-child){
    margin-bottom: 25px;
}
.fool__img_text {
}
.fool__img_span {
    display: block;
    opacity: 0.6;
    background: white;
    height: 1px;
    width: 100%;
}
.fool__img_a {
    font-weight: 700;
    color: #7A66CC;
}
.fool__img_cov{
    position: absolute;
    top: 0;
    left: 0;
}
.fool__img_img {
    position: absolute;
    top: 0;
    left: 58%;
}
@media (max-width: 992px){
    .fool__img_column{
        flex: 0 1 100%;
        padding: 30px 40px 30px 40px;
    }
    .fool__img_img {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 50px;
    }
    .fool__img_img img{
        width: 100%;
    }
}
@media (max-width: 767px){
    .fool__img {
        padding: 50px 15px;
    }
}

/*------------------MUSIC----------------*/
.music {
    padding: 90px 0;
}
.music__body {
}
.music__body_block {
    display: flex;
    flex-wrap: wrap;
}
.music__body_block_img {
    flex: 0 1 48%;
    align-items: center;
    position: relative;
    display: flex;
}
.music__body_block_img img{
    object-fit: cover;
}

.music__body_block_text {
    padding-left: 10px;
    flex: 1 1 48%;
}

.music__body_audio {
    margin-top: 60px;
}
._audio {
}
.music__body_ul {
    margin-top: 50px;
}
.music__body_ul >*:not(:last-child) {
    margin-bottom: 20px;
}
.music__body_li {
    display: flex;
    align-items: center;
}
.music__body_li >*:not(:first-child) {
    margin-left: 20px;
}
.music__body_num {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 14 * 100%);
    opacity: 0.5;
}
.music_button{
    cursor: pointer;
    color: white;
}
.music_button:hover{
    opacity: 0.7;
}
.purple{
    color: #7A66CC;
}
.music__body_fol {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.music__body_fol >*:not(:first-child) {
    margin-left: 40px;
}
.music__body_fol_text {
    font-weight: 600;
    font-size: 24px;
    line-height: calc(36 / 24 * 100%);
}
.music__body_fol_a {
    display: flex;
}
.music__body_fol_a >*:not(:first-child) {
    margin-left: 30px;
}
.music__body_fol_a_1,
.music__body_fol_a_2 {
    display: flex;
    align-items: center;
}
.music__body_fol_a_1 >*:not(:first-child),
.music__body_fol_a_2 >*:not(:first-child) {
    margin-left: 10px;
}
.music__body_fol_a_1_img {
}
.music__body_fol_a_1_text,
.music__body_fol_a_2_text {
    font-weight: 600;
    color: white;
    font-size: 14px;
    line-height: calc(21 / 14 * 100%);
}
.music__body_fol_a_2 {
}
.music__body_fol_a_2_img {
}
.music__body_fol_a_2_text {
}
@media (max-width: 1024px){
    .music__body_block {
        /* flex-direction: column-reverse; */
    }
    .music {
        padding: 100px 0;
    }
    .music__body_block_img {
        flex: 0 1 100%;
    }
    .music__body_block_img img{
        width: 100%;
    }
    .music__body_block_text{
        padding-top: 30px;
        padding-left: 0;
    }
    .music__body_fol{
        margin-top: 30px;
        justify-content: center;
    }
    .music__body_audio{
        margin-top: 40px;
    }
    .music__body_ul{
        margin-top: 30px;
    }
}
@media (max-width: 767px){
    .music {
        padding: 30px 0;
    }
}
@media (max-width: 405px){
    .music__body_fol >*:not(:first-child) {
        margin-left: 0px;
    }
    .music__body_fol_text{
        text-align: center;
        flex: 0 1 100%;
    }
}
/*--------------CARTS----------------*/
.carts {
    padding: 90px 0;
}
.carts img:hover:not(.row_block img),
.row_block:hover{
    opacity: 0.5;
}
.carts__body {
    display: flex;
    margin: -15px;
}
.center_carts_body{
    display: flex;
}
.center_carts{
    display: flex;
    flex-direction: column;
}
.center_block,
.row_block{
    padding: 15px;
}
.row_block{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row_block_text{
    text-align: center;
    padding: 0 20px;
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(36 / 24 * 100%);
    color: #7A66CC;
}

.column_carts {
    padding: 15px;
}
.center_block img,
.row_block img,
.carts_img img{
    width: 100%;
    height: 100%;
}
@media (max-width: 850px){
    .row_block_text{
        font-weight: 600;
        font-size: 20px;
        line-height: calc(36 / 20 * 100%);
    }
    .column_carts_1{
        padding: 10px 10px 10px 15px;
    }
    .column_carts_2{
        padding: 10px 15px 10px 10px;
    }
    .center_block,
    .row_block{
        padding: 10px;
    }
}
@media (max-width: 660px){
    .row_block_text{
        font-weight: 600;
        font-size: 16px;
        line-height: calc(26 / 16 * 100%);
    }
}
@media (max-width: 480px){
    .column_carts_1{
        padding: 5px 5px 5px 15px;
    }
    .column_carts_2{
        padding: 5px 15px 5px 5px;
    }
    .center_block,
    .row_block{
        padding: 5px;
    }
}


/*--------------SWIPER----------------*/
.swiper{
    padding: 50px 0;
}
.owl-stage{
    display: flex;
    align-items: stretch;
}
.swiper__block{
    height: 100%;
    display: flex;
    transition: all 0.5s ease 0s;
    flex-direction: column;
}
.swiper__block:hover{
    filter: brightness(60%);
}
.swiper__block:hover .swiper__block_button_a:hover{
    filter: brightness(125%);
}
.swiper__block_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 30px 35px 0 35px;
}
.swiper__block_text_1{
    height: 100%;
    font-weight: 700;
    line-height: calc(27 / 18 * 100%);
    opacity: 0.5;
    margin-bottom: 20px;
}
.swiper__block_text_2{
    height: 100%;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: calc(27 / 18 * 100%);
}
.swiper__block_button{
    height: 100%;
    align-items: center;
    margin: 0 -35px;
    display: flex;
    flex-wrap: wrap;
}
.swiper__block_button_text{
    flex: 0 1 50%;
    padding: 0 0 0 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    opacity: 0.5;
}
.swiper__block_button_a{
    flex: 1 1 auto;
    text-align: center;
    color: white;
    padding: 18px 0;
    background: #7A66CC;
    border-radius: 30px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
}
.swiper__body{
    position: relative;
}
.button_prev{
    position: absolute;
    top: 50%;
    left: -65px;
    z-index: 12px;
    transform: translateY(-50%);
}
.button_next{
    position: absolute;
    top: 50%;
    right: -65px;
    z-index: 12px;
    transform: translateY(-50%);
}

.swiper__block{
    background: #2F2B2B;
    border-radius: 30px 0px;
}
.swiper__body_button{
    background: #1C1B21;
}
.owl-dots{
    display: none;
}
@media (max-width: 1300px){
    .swiper__body{
        width: 90%;
    }
    .button_prev{
        left: -35px;
    }
    .button_next{
        right: -35px;
    }
}

@media (max-width: 1024px){
    .swiper__body{
        width: 80%;
    }
    .button_prev{
        left: -35px;
    }
    .button_next{
        right: -35px;
    }
}
@media (max-width: 680px){
    .swiper__body{
        width: 90%;
    }
    .button_prev{
        left: -35px;
    }
    .button_next{
        right: -35px;
    }
}

/*--------------FOOTER----------------*/
.footer{
    padding: 90px 0 40px 0;
}
.footer__body {
    text-align: center;
}
.footer__block {
    display: inline-block;
}
.footer__logo{
}
.footer__block >*:not(:last-child){
    margin-bottom: 60px;
}
.footer__contacts {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(27 / 18 * 100%);
    margin-top: 60px;
}
.footer__contacts_key,
.footer__contacts_valye{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__buttons {
    display: flex;
    height: 60px;
    width: 510px;
    align-items: center;
    justify-content: space-between;
}
.footer__buttons_img {
    background: #7A66CC;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    border: 7px solid #1C1B21;
}
.footer__buttons_img:hover {
    border: 7px solid #2C2C2C;
}
.footer_logo{
    font-size: 13px;
    line-height: 20px;
    opacity: 0.5;
    margin-top: 100px;
}
@media (max-width: 992px){
    .footer{
        padding: 50px 0 40px 0;
    }
}

@media (max-width: 550px){
    .footer__buttons {
        width: 415px;
    }
    .footer__buttons >*{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .footer{
        padding: 0px 0 40px 0;
    }
    .footer_logo{
        font-size: 13px;
        line-height: 20px;
        opacity: 0.5;
        margin-top: 70px;
    }
}
@media (max-width: 450px){
    .footer__buttons{
        flex-wrap: wrap;
        width: 180px;
        height: 140px;
        align-self: center;
    }
    .footer__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__buttons_img{
        flex: 0 1 33.333%;
    }

}
/*-----------------index6_2---------------*/
.body__index6_2{
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: white;
}
.contant__index6_2{
    text-align: center;
}
.your__page{
    line-height: 110%;
    color: #7A66CC;
    font-size: 60px;
}
.your__page_2{
    line-height: 110%;
    margin-top: 10px;
    font-size: 25px;
    color: #737373;
}

.load{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 77;
	background: #1C1B21;
}
.load._un_active{
	display: none;
}